.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-link {
  top: 585px;
  left: 0px;
  color: rgb(0, 0, 0);
  right: 0px;
  width: 180px;
  margin: auto;
  position: absolute;
  text-align: center;
  padding-left: 0px;
  padding-right: 0px;
  text-decoration: none;
}
.home-link1 {
  top: 634px;
  left: 0px;
  color: rgb(0, 0, 0);
  right: 0px;
  width: 180px;
  margin: auto;
  position: absolute;
  text-align: center;
  padding-left: 0px;
  padding-right: 0px;
  text-decoration: none;
}
.home-link2 {
  top: 700px;
  left: 0px;
  color: rgb(0, 0, 0);
  right: 0px;
  width: 180px;
  margin: auto;
  position: absolute;
  text-align: center;
  padding-left: 0px;
  padding-right: 0px;
  text-decoration: none;
}
.home-text {
  top: 121px;
  left: 0px;
  color: rgb(255, 255, 255);
  right: 0px;
  margin: auto;
  z-index: 100;
  position: absolute;
  text-align: center;
  padding-left: 5px;
  border-radius: var(--dl-radius-radius-radius4);
}
.home-image {
  top: 22px;
  left: 0px;
  right: 0px;
  width: 91px;
  margin: auto;
  position: absolute;
  object-fit: cover;
}
.home-text01 {
  top: 223px;
  left: 0px;
  color: rgb(255, 255, 255);
  right: 0px;
  margin: auto;
  position: absolute;
  text-align: center;
}
.home-text05 {
  top: 336px;
  left: 0px;
  color: rgb(255, 255, 255);
  right: 0px;
  margin: auto;
  position: absolute;
  text-align: center;
}
.home-text08 {
  text-transform: uppercase;
  text-decoration: underline;
}
.home-text09 {
  text-transform: uppercase;
  text-decoration: underline;
}
.home-text12 {
  text-decoration: underline;
}
.home-text16 {
  text-decoration: underline;
}
.home-text20 {
  text-transform: capitalize;
  text-decoration: underline;
}
.home-text24 {
  text-transform: capitalize;
  text-decoration: underline;
}
.home-image1 {
  width: 100%;
  height: 1212px;
  object-fit: cover;
}
@media(max-width: 479px) {
  .home-link {
    top: 642px;
    left: 0px;
    right: 0px;
    margin: auto;
  }
  .home-link1 {
    top: 707px;
    left: 0px;
    right: 0px;
    margin: auto;
  }
  .home-text01 {
    top: 225px;
    left: 0px;
    right: 0px;
    margin: auto;
  }
  .home-text05 {
    top: 356px;
    left: 0px;
    right: 0px;
    margin: auto;
  }
}
